<?php
/**
 * Production Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 */

return array(
    'guzzle_cache' => array(
        'adapter' => 'filesystem',
        'options' => array(
            'cache_dir' => 'data/cache/api'
        )
    ),
    'asset_manager' => array(
        'caching' => array(
            'default' => array(
                'cache'     => 'AssetManager\\Cache\\FilePathCache',
                'options' => array(
                    'dir' => 'public_html',
                ),
            ),
        ),
    ),
);